#RewriteEngine on

### Original ### 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_FILENAME}\.html -f 
#RewriteRule ^(.*)\.html$ /$1 [L,R=302]


### Suggestion 1 from Viki ###
#example.com/page will display the contents of example.com/page.html
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from example.com/page.html to example.com/page
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
#RewriteRule ^(.*)\.html$ /$1 [R=301,L]


### Suggestion 2 from Viki ###
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.html -f
#RewriteRule ^(.*)$ $1.html [NC,L]
### Redirect any typed .html URL to a non .html URL
#RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
#RewriteRule ^ /%1 [NC,L,R]
#RewriteCond %{REQUEST_FILENAME}.html -f

Test.
#RewriteEngine on
#RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
#RewriteRule ^ /%1 [NC,L,R]

#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^ %{REQUEST_URI}.html [NC,L]