@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,700');

body {
  font: 1rem 'Work Sans', sans-serif;
  color: #666666;
  text-align: justify;
}

@media (max-width: 576px) {
  .display-4, h1 #jumbotronText {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem;
    background-color: white;
  }

  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    padding: 0.1rem 0rem 0.1rem 0rem;
    margin: 1rem 0rem 1rem 0.5rem;
    height: 35px;
    width: 130px;
    font-size: 1.2rem;
    font-weight: 900;
  }

  .jumbotron {
    margin: 3rem 0rem 0rem 0rem;
  }

  #aboutUsHeading {
    text-align: left;
  }

  #aboutUsTextDiv {
    margin-left: 2rem;
  }

  #directorHeading {
    font-size: 3rem;
  }

  #directorProfilePictureDiv {
    text-align: center;
  }

  #directorProfilePicture {
    height: 100px;
    width: 100px;
  }

  #directorTextDiv {
    padding: 0rem 2rem 0rem 2rem;
  }

  #servicesHeading {
    font-size: 3.5rem;
  }

  #servicesTextRow {
    margin-top: -2.5rem;
  }

  #historyHeading {
    text-align: left;
  }

  .historyLeftCol {
    border-left: 1px solid #e6e6e6; 
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    margin: 0rem 0rem 0rem 2rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .historyRightCol {
    padding: 0rem 4rem 1.5rem 3rem;
    margin: 0rem 0rem 0rem 2rem;
    border-left: 1px solid #e6e6e6; 
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem 0.85rem;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .display-4, h1 #jumbotronText {
    font-size: 3rem;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem 1.3rem 0rem 2rem;
    background-color: white;
  }

  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    padding: 0.1rem 0rem 0.1rem 0rem;
    margin: 1rem 0rem 1rem 0.5rem;
    height: 35px;
    width: 130px;
    font-size: 1.2rem;
    font-weight: 900;
  }

  .jumbotron {
    margin: 3rem 3rem 0rem 3rem;
  }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4rem;
  }

  #directorProfilePictureDiv {
    text-align: left;
  }

  #directorTextDiv {
    padding: 0rem 2rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 5rem;
  }

  #servicesTextRow {
    margin-top: -3.5rem;
  }

  #historyHeading {
    text-align: right;
  }

  .historyLeftCol {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 1rem 1.5rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .historyRightCol {
    padding: 0rem 2rem 1rem 1rem;
  }

  .historySmallDot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 1rem 0.35rem -1.62rem;
    display: inline-block;
  }

  .historyLargeDot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 1rem 0rem -1.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
 .display-4, h1 #jumbotronText {
    font-size: 3rem;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem 1.3rem 0rem 2rem;
    background-color: white;
  }
  
  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    padding: 0.1rem 0rem 0.1rem 0rem;
    margin: 1rem 0rem 1rem 0.5rem;
    height: 35px;
    width: 130px;
    font-size: 1.2rem;
    font-weight: 900;
  }

  .jumbotron {
    margin: 3rem 3rem 0rem 3rem;
  }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin: -2.5rem 0rem 0rem 0rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0rem 0rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 6rem;
  }

  #servicesTextRow {
    margin-top: -4rem;
  }

  #historyHeading {
    text-align: right;
  }

  .historyLeftCol {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .historyRightCol {
    padding: 0rem 2rem 1rem 2rem;
  }

  .historySmallDot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .historyLargeDot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .display-4, h1 #jumbotronText {
     font-size: 3rem;
     line-height: 4rem;
   }
 
   .navbar {
     margin: 0rem 1.3rem 0rem 2rem;
     background-color: white;
   }
   
   .navbarDot {
     height: 0.25rem;
     width: 0.25rem;  
     background-color: #3d9acd;
     border-radius: 50%;
     margin: 0.9rem 0.5rem 0rem 0.5rem;
   }
 
   .nav-item {
     font-size: 0.9rem;
     font-weight: 900;
   }

   #contactButton {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    margin: 0.18rem 0.5rem 0rem 0.5rem;
    height: 27px;
    width: 104px;
    font-size: 0.9rem;
    font-weight: 900;
  }
 
  .jumbotron {
     margin: 3rem 3rem 0rem 3rem;
   }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin: -2.5rem 0rem 0rem 0rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0rem 8rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 7rem;
  }

  #servicesTextRow {
    margin-top: -4rem;
  }

  #historyHeading {
    text-align: right;
  }

  .historyLeftCol {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .historyRightCol {
    padding: 0rem 2rem 1rem 2rem;
  }

  .historySmallDot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .historyLargeDot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.23rem;
    text-align: left;
  }
 }

 @media (min-width: 1200px){
  .display-4, h1 #jumbotronText {
     font-size: 3rem;
     line-height: 4rem;
   }
 
   .navbar {
     margin: 0rem 1.3rem 0rem 2rem;
     background-color: white;
   }
   
   .navbarDot {
     height: 0.25rem;
     width: 0.25rem;  
     background-color: #3d9acd;
     border-radius: 50%;
     margin: 0.9rem 0.5rem 0rem 0.5rem;
   }
 
   .nav-item {
     font-size: 0.9rem;
     font-weight: 900;
   }

   #contactButton {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    margin: 0.18rem 0.5rem 0rem 0.5rem;
    height: 27px;
    width: 104px;
    font-size: 0.9rem;
    font-weight: 900;
  }
 
  .jumbotron {
     margin: 3rem 3rem 0rem 3rem;
   }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin-top: -2.5rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0rem 12rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 7rem;
  }

  #servicesTextRow {
    margin-top: -5rem;
  }

  #historyHeading {
    text-align: right;
  }

  .historyLeftCol {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .historyRightCol {
    padding: 0rem 6rem 1rem 2rem;
  }

  .historySmallDot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .historyLargeDot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }

 }


/**** END OF MEDIA QUERIES ****/


#navbarLogo {
  height: 33px;
  width: 150px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.nav-item {
  color: #7d7d7d;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
  color: #3d9acd;
}


.blueButton {
  border-radius: 25px;
  color: #3d9acd;
  border-color: #3d9acd;  
}

.blueButton:hover {
  background-color: #3d9acd;
  transition-duration: 0.5s;
  color: white;
}

.jumbotron {
  background-image: url(assets/jetpharma-medicine.png);
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding-top: 6rem;
}

#jumbotronLine {
  border-left: 4px solid #3d9acd; 
}

.display-4, h1 #jumbotronText {
  font-weight: 750;
  margin: 0rem;
}

.greyHeader {
  color: #cccccc;
  font-weight: 700;
}

#aboutUsCard {
  margin-top: -3rem;
}

#aboutUsTextDiv {
  border-left: 1px solid #3d9acd; 
  padding: 0rem 2rem 0rem 2rem
}

#medicineBottlesImage {
  width: 120px;
  height: 88px;
  margin-bottom: 2rem;
}

.valuesTableLeftColumn {
  color: #3d9acd;
}

.valuesTableRightColumn {
  padding-left: 1rem;
}

#directorHeading {
  color: #cccccc
}

.servicesIconImages {
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
}

#servicesHeading {
  color: #f2f2f2;
}

#historyArrow {
  border-left: .23rem solid transparent;
  border-right: .23rem solid transparent;
  border-top: .7rem solid #e6e6e6;
  margin: 0rem 0rem 0rem 0rem;
  display: inline-block;
}



/* div {
  border:1px solid red;
} */

/*https://davidwalsh.name/css-trianglesCSS Triangles*/
