@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,700');

body {
  font: 1rem 'Work Sans', sans-serif;
  color: #666666;
  text-align: justify;
  /* position: relative; */
  margin-top: 40px;
}

@media (max-width: 576px) {
  .display-4, h1, #homeJumbotronText {
    font-size: 9vw;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem;
    background-color: white;
  }

  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    height: 35px;
    width: 130px;
    padding: 0.3rem 1.2rem;
    margin: 1rem 0.5rem;
  }

  .jumbotron {
    margin: 3rem 0rem 0rem 0rem;
  }

  #aboutUsHeading {
    text-align: left;
  }

  #aboutUsTextDiv {
    margin-left: 2rem;
  }

  #directorHeading {
    font-size: 2.35rem;
  }

  #directorProfilePictureDiv {
    text-align: center;
  }

  #directorProfilePicture {
    height: 100px;
    width: 100px;
  }

  #directorTextDiv {
    padding: 0rem 2rem;
  }

  #servicesHeading {
    font-size: 2.8rem;
    color: #ccc;
  }

  #servicesTextRow {
    margin-top: 0rem;
  }

  #historyHeading {
    text-align: left;
  }

  .history-left-col {
    border-left: 1px solid #e6e6e6; 
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    margin: 0rem 0rem 0rem 2rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .history-right-col {
    padding: 0rem 4rem 1.5rem 3rem;
    margin: 0rem 0rem 0rem 2rem;
    border-left: 1px solid #e6e6e6; 
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem 0.85rem;
  }
  
  #contactHeading {
    margin-bottom: 1rem;
  }

  #contactFormDiv {
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #jetpharmaCareersGraphic {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .display-4, h1 #homeJumbotronText {
    font-size: 3rem;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem 1.3rem 0rem 2rem;
    background-color: white;
  }

  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    height: 35px;
    width: 130px;
    padding: 0.3rem 1.2rem;
    margin: 1rem 0.5rem;
  }

  .jumbotron {
    margin: 3rem 3rem 0rem 3rem;
  }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4rem;
  }

  #directorProfilePictureDiv {
    text-align: left;
  }

  #directorTextDiv {
    padding: 0rem 2rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 5rem;
    color: #f2f2f2;
  }

  #servicesTextRow {
    margin-top: -3.5rem;
  }

  #historyHeading {
    text-align: right;
  }

  .history-left-col {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 1rem 1.5rem 0rem;
    margin: 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .history-right-col {
    padding: 0rem 2rem 1rem 1rem;
  }

  .history-small-dot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 1rem 0.35rem -1.62rem;
    display: inline-block;
  }

  .history-large-dot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 1rem 0rem -1.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }
  
  #contactHeading {
    text-align: right;
  }

  #contactFormDiv {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #footer {
    padding: 0rem 7rem;
  }

  #interestedRow {
    padding-left: 4rem;
  }

  #jetpharmaCareersGraphic {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
 .display-4, h1 #homeJumbotronText {
    font-size: 3rem;
    line-height: 4rem;
  }

  .navbar {
    margin: 0rem 1.3rem 0rem 2rem;
    background-color: white;
  }
  
  .nav-item {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 1rem 0rem 0rem 1rem;
  }

  #contactButton {
    height: 35px;
    width: 130px;
    padding: 0.3rem 1.2rem;
    margin: 1rem 0.5rem;
  }

  .jumbotron {
    margin: 3rem 3rem 0rem 3rem;
  }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin: -2.5rem 0rem 0rem 0rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0;
  }

  #servicesHeading {
    font-size: 6rem;
    color: #f2f2f2;
  }

  #servicesTextRow {
    margin-top: -4rem;
  }

  #historyHeading {
    text-align: right;
  }

  .history-left-col {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .history-right-col {
    padding: 0rem 2rem 1rem 2rem;
  }

  .history-small-dot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .history-large-dot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }

  #catalogueDiv {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
  }

  #contactHeading {
    text-align: right;
  }

  #contactFormDiv {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #careersDescriptionRow {
    margin: 0;
  }

  #jetpharmaCareersGraphic {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .display-4, h1 #homeJumbotronText {
     font-size: 3rem;
     line-height: 4rem;
   }
 
   .navbar {
     margin: 0rem 1.3rem 0rem 2rem;
     background-color: white;
   }
   
   .navbar-dot {
     height: 0.25rem;
     width: 0.25rem;  
     background-color: #3d9acd;
     border-radius: 50%;
     margin: 0.9rem 0.5rem 0rem 0.5rem;
   }
 
   .nav-item {
     font-size: 0.9rem;
     font-weight: 900;
   }

   #contactButton {
    height: 28px;
    width: 104px;
    padding: 0.4rem 1.1rem;
    margin-top: 0.1rem;
  }
 
  .jumbotron {
     margin: 3rem 3rem 0rem 3rem;
   }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin: -2.5rem 0rem 0rem 0rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0rem 8rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 7rem;
    color: #f2f2f2;
  }

  #servicesTextRow {
    margin-top: -4rem;
  }

  #historyHeading {
    text-align: right;
  }

  .history-left-col {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .history-right-col {
    padding: 0rem 2rem 1rem 2rem;
  }

  .history-small-dot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .history-large-dot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.23rem;
    text-align: left;
  }

  #catalogueDiv {
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 1.2rem;
  }

  #contactHeading {
    text-align: right;
  }

  #contactFormDiv {
    padding-left: 1.5rem;
    padding-right: 13rem;
  }

  #careersDescriptionRow {
    margin: 0 3rem;
  }

  #interestedRow {
    padding-left: 3.8rem;
  }

  #jetpharmaCareersGraphic {
    width: 70%;
  }
 }

 @media (min-width: 1200px){
  .display-4, h1 #homeJumbotronText {
     font-size: 3rem;
     line-height: 4rem;
   }
 
   .navbar {
     margin: 0rem 1.3rem 0rem 2rem;
     background-color: white;
   }
   
   .navbar-dot {
     height: 0.25rem;
     width: 0.25rem;  
     background-color: #3d9acd;
     border-radius: 50%;
     margin: 0.9rem 0.5rem 0rem 0.5rem;
   }
 
   .nav-item {
     font-size: 0.9rem;
     font-weight: 900;
   }

   #contactButton {
    height: 28px;
    width: 104px;
    padding: 0.4rem 1.1rem;
    margin-top: 0.1rem;
  }
 
  .jumbotron {
     margin: 3rem 3rem 0rem 3rem;
   }

  #aboutUsHeading {
    text-align: right;
  }

  #directorHeading {
    font-size: 4.5rem;
  }

  #directorProfilePictureDiv {
    text-align: right; 
    margin-top: -2.5rem;
    padding-right: 3rem;
  }

  #directorTextDiv {
    margin-left: -2.5rem;
    padding: 0rem 12rem 0rem 0rem;
  }

  #servicesHeading {
    font-size: 7rem;
    color: #f2f2f2;
  }

  #servicesTextRow {
    margin-top: -5rem;
  }

  #historyHeading {
    text-align: right;
  }

  .history-left-col {
    border-right: 1px solid #e6e6e6; 
    padding: 0.5rem 2rem 1.5rem 0rem;
    margin: 0rem;
    color: #3d9acd;
    font-size: 1.1rem;
    text-align: right;
  }
  
  .history-right-col {
    padding: 0rem 6rem 1rem 2rem;
  }

  .history-small-dot{
    height: 0.25rem;
    width: 0.25rem;  
    background-color: #3d9acd;
    border-radius: 50%;
    margin: 0rem 2rem 0.35rem -2.62rem;
    display: inline-block;
  }

  .history-large-dot{
    height: 1rem;
    width: 1rem;  
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem 2rem 0rem -2.55rem;
    display: inline-block;
  }

  #historyArrowCol {
    margin: -.5rem 0rem 0rem -1.2rem;
    text-align: left;
  }

  #catalogueDiv {
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 1.2rem;
  }

  #contactHeading {
    text-align: right;
  }

  #contactFormDiv {
    padding-left: 1.5rem;
    padding-right: 18rem;
  }

  #careersDescriptionRow {
    margin: 0 7rem;
  }
  
  #interestedRow {
    padding-left: 5rem;
  }

  #jetpharmaCareersGraphic {
    width: 70%;
  }
 }


/**** END OF MEDIA QUERIES ****/

#navbarLogo {
  height: 33px;
  width: 150px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.nav-item {
  color: #7d7d7d;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
  color: #3d9acd;
}

#contactButton {
  border-radius: 25px;
  color: #3d9acd;
  border: 1px solid #3d9acd;
  background-color: white;
}

#contactButton:hover {
  background-color: #3d9acd;
  transition-duration: 0.5s;
  color: white;
}

#history, #catalogue, #partners, #contact{
  padding-top: 6rem;
  margin-top: -6rem;
}

#about-us {
  background-image: url(assets/jetpharma-medicine.png);
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  padding-top: 6rem;
}

#jumbotronLine {
  border-left: 4px solid #3d9acd;
}

.display-4, h1 #homeJumbotronText {
  font-weight: 750;
  margin: 0rem;
}

.grey-header {
  color: #ccc;
  font-weight: 700;
}

#aboutUsCard {
  margin-top: -3rem;
}

#aboutUsTextDiv {
  border-left: 1px solid #3d9acd; 
  padding: 0 2rem;
}

#medicineBottlesImage {
  width: 120px;
  height: 88px;
  margin-bottom: 2rem;
}

.values-table-left-column {
  color: #3d9acd;
}

.values-table-right-column {
  padding-left: 1rem;
}

#directorHeading {
  color: #ccc;
}

.services-icon-images {
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
}

#historyArrow {
  border-left: .23rem solid transparent;
  border-right: .23rem solid transparent;
  border-top: .7rem solid #e6e6e6;
  margin: 0rem;
  display: inline-block;
}

#catalogueDiv {
  color: black;
  background-image: url("assets/catalogue-background.png");
}

.download-button {
  border-radius: 25px;
  color: white;
  border-color: #f06116;  
  background-color: #f06116;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.download-button:hover {
  background-color: white;
  transition-duration: 0.5s;
  color: #f06116;
}

#downloadCard{
  margin-top: -2rem;
}

.scroll-wrapper {
  display: flex;
  overflow-x: auto;
}

.partners-card-header-and-footer {
  background: white;
  border:0;
  padding:0;
}

.partners-cards {
  min-width: 18rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 0.8rem;
}

.partners-card-body {
  padding-bottom: 0;
}

.partners-modal {
  overflow: auto; /* Enable scroll if needed */
}

.partners-modal-image {
  
  width: 100%;
  /* max-width: 100%; */
}

#contactFormDiv {
  border-left: 1px solid #3d9acd; 
}

.form-control::placeholder {
  color: #ccc;
}

#submitButton {
  border-radius: 25px;
  color: white;
  border-color: #f06116;  
  background-color: #f06116;
  padding: 0.3rem 3rem;
}

#submitButton:hover {
  background-color: white;
  transition-duration: 0.5s;
  color: #f06116;
}

#footer {
  background-color: #4d4d4d;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.footer-icons {
  height:15px;
  width: 15px;
}

/* ***************CAREERS PAGE*************** */

#careersJumbotronDiv {
  background-image: url(assets/jetpharma-careers-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 18.5rem;
  border-radius: 0px;
  padding-top: 5.5rem;
}

#careersIconImage {
  height: 5rem;
  width: 5rem;
}

#careersDescriptionDiv {
  border-left: 1px solid #3d9acd;
}

.jumbotron-card {
  margin-top: -3rem;
  padding: 0rem 5rem;
}

.display-4, h1, #careersJumbotronText {
  font-weight: 750;
  margin: 0rem;
  font-size: 3rem;
}

.positions-sub-heading {
  font-size: 1.15rem;
  color: #ccc;
}

.positions-cards {
  min-width: 18rem;
  margin: 1rem;
}

.positions-details-button {
  border-radius: 25px;
  color: #3d9acd;
  border-color: #3d9acd;  
  background-color: white;
  padding: 0.1rem 0rem;
  margin: 1rem 0rem 1rem 0.5rem;
  height: 30px;
  width: 130px;
}

.positions-details-button:hover {
  background-color: #3d9acd;
  transition-duration: 0.5s;
  color: white;
}

.close {
  color: white; 
  opacity: 1;
  font-size: 2.4rem;
  font-weight: 350;
}

.interested-images {
  height: 40px;
  width: 40px;
  text-align: right;
}
