<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="Default.aspx" />
                <add value="index.aspx" />
                <add value="index.php" />
                <add value="index.pl" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="default.htm" />
                <add value="default.html" />
                <add value="temp.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
         <rewrite>
            <rules>
                <rule name="RewriteHTML">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <rule name="Default document rewrite" stopProcessing="true">
                    <match url="(.*)index.html" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>  
    </system.webServer>
</configuration>
